.el-container{
  display: -moz-box;  /* Firefox */
  display: -ms-flexbox;    /* IE10 */
  display: -webkit-box;    /* Safari */ 
  display: -webkit-flex;    /* Chrome, WebKit */
  display: box; 
  display: flexbox; 
  display: flex;
}


//这是为了兼容在ie9上面的样式异常
._Framecontainer{
  display: inline-block;
  width: calc(100% - 250px);
}
.el-menu{
  display: inline-block;
}